*
    margin: 0
    padding: 0
    box-sizing: border-box

header
    height: 6vh
    background-color: #FFFFFF
    Nav
        height: 100%
        width: 100%
        ul
            list-style: none
            height: 100%
            width: 100%
            display: flex
            flex-direction: row
            align-items: center
            justify-content: space-around

.headerRoutesItem
    font-size: 3vh
    text-decoration: none
    color: #696969

button
    cursor: pointer

select
    cursor: pointer

textarea::-webkit-scrollbar
    width: 5px
    background-color: white
    border-radius: 2px

textarea::-webkit-scrollbar-thumb
    width: 5px
    background-color: #7C7C7C
    border-radius: 2px

/* \/ Login page \/ */
.loginContainer
    display: flex
    justify-content: center
    margin-top: 25vh

.loginBlock
    width: 450px
    height: 400px
    background: #ffffff
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5)
    border-radius: 22px

.joinText
    padding-top: 33px
    font-size: 27px
    text-align: center
    color: #000000
    font-weight: 400
    margin-bottom: 15px

.loginContent
    padding-left: 18px

.loginText
    margin-top: 15px
    font-weight: 400
    font-size: 23px
    color: #000000
    margin-bottom: 5px

.loginInput
    border: 1px solid #707070
    box-sizing: border-box
    border-radius: 4px
    width: 412.5px
    height: 50px
    font-weight: 400
    font-size: 20.3242px
    line-height: 24px
    color: #707070
    padding-left: 17.54px

.loginButton
    margin-top: 40px
    position: absolute
    width: 190px
    height: 60px
    background: #2a95c9
    border-radius: 7.5px
    border: 0
    font-weight: 400
    font-size: 20.3242px
    line-height: 24px
    color: #ececec
    text-align: center
    text-decoration: none
    padding-top: 18px
